body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
  padding: 120px;
	background:#24252A;
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background:#24252A;
  color:#644cad;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  font-size:18px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:270px;
  font-weight:bold;
  padding:14px 0px;
  border:3px solid #644cad;
  border-radius:2px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  z-index:2;
  margin: 40px 20px;
}

button:before {
  -webkit-transition:0.5s all ease;
  transition:0.5s all ease;
  position:absolute;
  top:0;
  left:50%;
  right:50%;
  bottom:0;
  opacity:0;
  content:'';
  background-color:#644cad;
  z-index:-1;
}

button:hover {
  color:#FFF;
}
button:focus {
  color:#FFF;
}

button:hover:before {
  -webkit-transition:0.5s all ease;
  transition:0.5s all ease;
  left:0;
  right:0;
  opacity:1;
}

button:focus:before {
  -webkit-transition:0.5s all ease;
  transition:0.5s all ease;
  left:0;
  right:0;
  opacity:1;
}
